{% extends 'tik/base.html' %}
{% load static %}
{% block body-block %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="container" id="container">
<h4><i class="fas fa-check"></i> tik </h4>
<p> Tik is a Django Powered Website built by Amir Baba and Abrar Wali. In This Website you can Lookup problems
        and solve them using your favourite language and submit the correct answer. The concept of this module
       was taken from <a href="projecteuler.net">Project Euler.</a> In addition to problem solving tik also provides the
       discussion facility for users. Discussion and Problems module can be viewed by anyone but in order to sumbit
       the answer and to use discussion, user must be registered on the website. This website serves project-based learning approch.
       </p>
       <ul>
         <p><a href="https://www.linkedin.com/in/abrarwali/">Abrar Wali</a> - Backend & Front End.(github link :<a href="https://github.com/amirbaba316">here</a> )</p>
         <p><a href="https://www.linkedin.com/in/amir-aslam-baba-569909156/">Abrar Wali</a> - Backend   (Abrar's Front End for Tik can be found <a href="https://github.com/abrarwali">here</a> )</p>
       </ul>
{% endblock %}
</div>
