@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
  background-color:#EBF5FB;
}
#container{
  max-width:1200px;
  margin:0 auto;
  font-family: 'Roboto Slab', serif;
  padding-left:60px;
  padding-bottom:50px;
  background-color:#FBFCFC;
  margin-top:50px;
  border-style:solid;
  border-width:1px;
  border-radius: 6px;
  border-color:#D5D8DC  ;
}
button{
    border-style: solid;
    border-width: 6px 20px 6px 20px;
    text-decoration: none;
    padding: 6px;
    border-color:#02ccba;
    background-color: #02ccba;
    color: white;
    border-radius: 4px;
    margin-bottom:20px;
    margin-top:15px;
}
h3{
    padding-top:20px;
    padding-bottom:30px;
    color:#566573;
}
button:hover{
    color:#D5F5E3;
}