@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
  background-color:#EBF5FB;
}
#container{
  max-width:1200px;
  margin:0 auto;
  font-family: 'Roboto Slab', serif;
  padding-left:60px;
  padding-bottom:50px;
  background-color:#FBFCFC;
  margin-top:10px;
  border-style:solid;
  border-width:1px;
  border-radius: 6px;
  border-color:#D5D8DC  ;
}
h2{
  padding-top:20px;
  padding-bottom:50px;
  padding-left:400px;
  color:#566573;
}
button{
    border-style: solid;
    border-width: 5px 18px 5px 18px;
    text-decoration: none;
    padding: 4px;
    border-color: #02b3e4;
    background-color: #02b3e4;
    color: white;
    border-radius: 4px;
    margin-bottom:2px;
    margin-left:0px;
    margin-top:25px;
  }